{{>layouts/header}}

<!-- 데이터를 어디로 보낼지를 form 태그의 action 속성으로 기재. 어떻게 보낼지를 method 속성으로 기재. -->
<form class="container" action="/articles/update" method="post">
{{#article}}
    <input name="id" type="hidden" value="{{id}}"/>
    <div class="mb-3">
        <label class="form-label">제목</label>    <!-- DTO 변수    input 태그는 value 속성 : 기존 데이터를 보여줌  -->
        <input type="text" class="form-control" name="title" value="{{title}}">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>    <!-- DTO 변수    기존 데이터 보여주기 위해.  -->
        <textarea class="form-control" row="3" name="content">{{content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles/{{id}}">Back</a>
{{/article}}
</form>

{{>layouts/footer}}