{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">CONTENT</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}  <!-- 해당 모델의 데이터가 List형이기 때문에 구간안에 있는 html문이 반복 -->
    <tr>
        <th>{{id}}</th>
        <td><a href="/articles/{{id}}">{{title}}</a></td>
        <td>{{content}}</td>
    </tr>
    {{/articleList}}  <!--  모델 사용 종료지점  -->
    </tbody>
</table>
<a href="/articles/new">New Article</a>
{{>layouts/footer}}